<div class="hero-unit">
  <form ng-submit="saveProduct()">
      <div class="controls form-inline">
        <u2>{{title}}</u2><br/>
        <label>Id: </label><input type="text" ng-model="id" readonly><br/>
        <label>Name: </label><input type="text" ng-model="name"><br/>
        <label>Price: </label><input type="text" ng-model="price"><br/>
        <input class="btn btn-primary" type="submit" value="Save">
      </div>
  </form>
  <br/>   
  <ul>
    <input class="btn" ng-click="listProduct()" type="button" value="List Products">
    <li ng-repeat="item in data">
      <div class="controls form-inline">
        <label>{{item.id}}, {{item.name}}, {{item.price}}</label>
        <a ng-click="editProduct(item)" class="btn">edit</a>
        <a ng-click="deleteProduct(item.id)" class="btn">x</a>
      </div>
    </li>
  </ul>
</div>