<div class="row">
    <search-bar text="searchText" on-update="listEntity(0)"></search-bar>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr ng-init="reverse = false">
                <th><a class="link" ng-click="predicate = 'id'; reverse = !reverse">ID</a></th>
                <th><a class="link" ng-click="predicate = 'product'; reverse = !reverse">Produto</a></th>
                <th><a class="link" ng-click="predicate = 'quantity'; reverse = !reverse">Qt.</a></th>
                <th><a class="link" ng-click="predicate = 'quantity'; reverse = !reverse">Unid.</a></th>
            </tr>
        </thead>
        <tbody>
            <tr class="lwa-list" ng-repeat="stock in entities | filter:searchText | orderBy:predicate:reverse" ng-click="editEntity(stock.id)">
                <td>{{stock.id}}</td>
                <td><product-detail product="stock.product"></product-detail></td>
                <td>{{stock.quantity}}</td>
                <td>{{stock.unit}}</td>
            </tr>
        </tbody>
    </table>
    <list-pager page="page" change-page="listEntity(pageIndex)"></list-pager>
</div>