<form class="form-horizontal form-validation" role="form" name="orderForm" novalidate ng-submit="vm.saveOrUpdateEntity()">

    <entity-id></entity-id>

    <quick-search label="Cliente" resource-url="customer" entity-id="vm.entity.customer.id" fetch="vm.fetchCustomer(vm.entity.customer.id)">
        <div class="form-control-static">
            <customer-detail customer="vm.entity.customer"></customer-detail>
        </div>
    </quick-search>

    <quick-search label="Produtos" resource-url="product" entity-id="vm.item.product.id" fetch="vm.fetchProduct(vm.item.product.id)">
        <div class="col-md-3" ng-class="{'has-error': orderForm.productQuantity.$invalid}">
            <div class="input-group">
                <input type="number" class="form-control" id="productQuantity" name="productQuantity" placeholder="Qt" ng-model="vm.item.quantity" ui-keyup="{'enter': 'vm.addItem(vm.item)'}" ng-disabled="!vm.item.product.id" min="1">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Adicionar produto à lista" ng-click="vm.addItem(vm.item)" ng-disabled="vm.item.product.id <= 0 || orderForm.productId.$invalid || vm.isReadMode">
                    <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-control-static">
                <product-detail product="vm.item.product"></product-detail>
            </div>
        </div>
    </quick-search>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <ul class="list-group">
                <li class="list-group-item lwa-fade-left" ng-repeat="item in vm.entity.items">
                    <div class="row">
                        <product-detail class="col-md-11" product="item.product" quantity="item.quantity"></product-detail>
                        <div class="pull-right col-md-1">
                            <button type="button" class="close" ng-click="vm.removeItem(item)">&times;</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="inputTotal" class="col-md-1 control-label">Total</label>
        <div class="col-md-11">
            <div class="input-group">
                <span class="input-group-addon">R$</span>
                <input type="text" class="form-control" id="inputTotal" value="{{vm.total | number:2}}" readonly>
            </div>
        </div>
    </div>

    <div class="form-group" ng-hide="vm.total <= 0" ng-class="{'has-error': orderForm.inputPayment.$invalid }">
        <label for="inputPayment" class="col-md-1 col-md-offset-1 control-label">Pagamento</label>
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon">R$</span>
                <input type="number" class="form-control" id="inputPayment" name="inputPayment" ng-model="vm.entity.payment.quantity" ng-pattern="/^(?=.*[0-9])\d*(?:\.\d{1,2})?$/" ng-disabled="vm.entity.payment.status != 'OK'">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{vm.entity.payment.mode | paymentMode}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="dropdown-header">Modo</li>
                        <li><a class="link"  ng-click="vm.entity.payment.mode = 'MONEY';" ng-hide="vm.entity.payment.mode == 'MONEY'">Dinheiro</a></li>
                        <li><a class="link" ng-click="vm.entity.payment.mode = 'CREDIT_CARD';" ng-hide="vm.entity.payment.mode == 'CREDIT_CARD'">Cartão</a></li>
                        <li><a class="link" ng-click="vm.entity.payment.mode = 'CHECK';" ng-hide="vm.entity.payment.mode == 'CHECK'">Cheque</a></li>
                    </ul>
                </div>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{vm.entity.payment.status | paymentStatus }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="dropdown-header">Status</li>
                        <li><a class="link" ng-click="vm.entity.payment.status = 'OK';" ng-hide="vm.entity.payment.status == 'OK'">OK</a></li>
                        <li><a class="link" ng-click="vm.entity.payment.status = 'PENDING';" ng-hide="vm.entity.payment.status == 'PENDING'">Pendente</a></li>
                        <li><a class="link" ng-click="vm.entity.payment.status = 'CANCELLED';" ng-hide="vm.entity.payment.status == 'CANCELLED'">Cancelado</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-hide="vm.exchange <= 0 || vm.entity.payment.status == 'PENDING'">
        <label for="inputExchange" class="col-md-1 col-md-offset-1 control-label">Troco</label>
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon">R$</span>
                <input type="text" class="form-control" id="inputExchange" value="{{vm.exchange | number:2}}" readonly>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-1 form-control-static">
            <span class="label label-default">{{vm.entity.date | date:'dd/MM/yy HH:mm'}}</span>
        </div>
        <div class="col-md-9 form-control-static">
            <payment-detail payment="vm.entity.payment"></payment-detail>
        </div>
    </div>

    <save-changes disabled="vm.isReadMode"
    save-disabled="orderForm.$invalid || orderForm.$pristine"
    remove-disabled="vm.isEntityNew"
    discard-disabled="!vm.isPreviousChanges"
    on-remove="vm.removeEntity()"
    on-discard="vm.discardChanges()">
    </save-changes>

</form>
