<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div id="year-performance-chart">
                <h4>Estatísticas anuais</h4>
            </div>
        </div>
        <div class="row">
            <div id="month-of-year-chart">
                <h4>Mês</h4>
            </div>
            <div id="day-of-week-chart">
                <h4>Dia da semana</h4>
            </div>
            <div id="payment-status-chart">
                <h4>Pagamento</h4>
            </div>
            <!--<div id="orderTotal-per-day">-->
            <!--    <h4>Lucro por Mês</h4>-->
            <!--</div>-->
        </div>
    </div>
</div>