<form class="form-horizontal form-validation" role="form" name="orderForm" novalidate ng-submit="saveChanges(entity)">
    
    <div class="form-group">
        <label for="orderId" class="col-md-1 control-label">ID</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="orderId" readonly value="{{entity.id}}">
        </div>
        <div class="col-md-2 input-group">
            <input type="text" class="form-control" ng-model="entity.date" datepicker-popup="dd MMM  HH:mm" required>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
    </div>
    
    <quick-search label="Cliente" entity-id="entity.customer.id" fetch="fetchCustomer(entity.customer.id)" search="quickSearchCustomer()">
        <p class="form-control-static">{{entity.customer.name}}</p>
    </quick-search>

    <quick-search label="Produtos" invalid="item.product.id <= 0 && entity.items.length == 0" entity-id="item.product.id" fetch="fetchProduct(item.product.id)" search="quickSearchProduct()">
        <div class="col-md-3 input-group" ng-class="{'has-error': orderForm.productQuantity.$invalid && entity.products.length == 0}">
            <input type="number" required min="1" class="form-control" id="productQuantity" name="productQuantity" placeholder="Qt" ng-model="item.quantity" ui-keyup="{'enter': 'addItem(item)'}" ng-disabled="!item.product.id">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Adicionar produto à lista" ng-click="addItem(item)" ng-disabled="orderForm.productQuantity.$invalid || orderForm.productId.$invalid || readMode">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="col-md-9">
            <p class="form-control-static">
                <product-detail product="item.product"></product-detail>
            </p>
        </div>
    </quick-search>
        
    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <ul class="list-group">
                <li class="list-group-item lwa-fade-left" ng-repeat="item in entity.items">
                    <div class="row">
                        <product-detail class="col-md-11" product="item.product" quantity="item.quantity"></product-detail>
                        <div class="pull-right col-md-1">
                            <button type="button" class="close" ng-click="removeItem(item)">&times;</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="form-group">
        <label for="total" class="col-md-1 control-label">Total</label>
        <div class="col-md-11 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="total" value="{{total | number:2}}" readonly>
        </div>
    </div>
    
    <div class="form-group lwa-fade-left" ng-class="{'has-error': orderForm.inputPayment.$invalid || total > entity.payment.quantity}" ng-show="total != 0 && entity.payment.status != 'OK' && entity.payment.status != 'CANCELLED'">
        <label for="total" class="col-md-1 col-md-offset-1 control-label">Pagamento</label>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">R$</span>
            <input type="number" class="form-control" id="inputPayment" name="inputPayment" ng-model="entity.payment.quantity" required min="0">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{entity.payment.mode | paymentMode}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="link" ng-hide="entity.payment.mode == 'MONEY'" ng-click="entity.payment.mode = 'MONEY';">Dinheiro</a></li>
                    <li><a class="link" ng-hide="entity.payment.mode == 'CREDIT_CARD'" ng-click="entity.payment.mode = 'CREDIT_CARD';">Cartão</a></li>
                    <li><a class="link" ng-hide="entity.payment.mode == 'CHECK'" ng-click="entity.payment.mode = 'CHECK';">Cheque</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="form-group lwa-fade-left" ng-show="exchange != 0 && entity.payment.status == 'PENDING'">
        <label for="total" class="col-md-1 col-md-offset-1 control-label">Troco</label>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="inputExchange" name="inputExchange" value="{{exchange | number:2}}" readonly>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-1 btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Status <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Pagamento</li>
                <li><a class="link" ng-click="entity.payment.status = 'OK';" ng-if="entity.status.payment != 'OK'">Confirmado</a></li>
                <li><a class="link" ng-click="entity.payment.status = 'PENDING';" ng-if="entity.status.payment != 'PENDING'">Pendente</a></li>
                <li><a class="link" ng-click="entity.payment.status = 'CANCELLED';" ng-if="entity.status.payment != 'CANCELLED'">Cancelado</a></li>
            </ul>
        </div>
        <div class="col-md-8 form-control-static">
            <payment-detail ref="entity.payment"></payment-detail>
        </div>
    </div>

    <save-changes save-disabled="readMode ||
                                 orderForm.inputPayment.$invalid ||
                                 entity.products.length == 0" 
                  remove-disabled="isEntityNew || readMode" remove="removeOrder(entity)"></save-changes>

</form>