<form class="form-horizontal form-validation" role="form" name="orderForm" novalidate ng-submit="saveChanges(order)">
    <div class="form-group">
        <label for="orderId" class="col-md-1 control-label">ID</label>
        <div class="col-md-9 input-group">
            <input type="text" class="form-control" id="orderId" readonly value="{{order.id}}">
            <span class="input-group-btn">
                <a class="btn btn-default" ng-href="#/order/{{order.id -1}}" ng-disabled="isOrderNew">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                <a class="btn btn-default" ng-href="#/order/{{order.id +1}}">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </span>
        </div>
        <div class="col-md-2 input-group">
            <input type="text" class="form-control" ng-model="order.date" datepicker-popup="dd/MM/yy" required>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': orderForm.customerId.$invalid}">
        <label for="customerId" class="col-md-1 control-label">Cliente</label>
        <div class="col-md-2 input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Buscar Rápida de Cliente" disabled>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <input type="number" class="form-control" id="customerId" name="customerId" placeholder="ID" autofocus ng-model="order.customer.id" required min="1" ui-event="{blur: 'fetchCustomer(order.customer.id)'}" ui-keypress="{'enter': 'fetchCustomer(order.customer.id)'}">
        </div>
        <div class="col-md-9">
            <p class="form-control-static">{{order.customer.name}}</p>
        </div>
    </div>
    <div class="form-group">
        <div ng-class="{'has-error': orderForm.productId.$invalid && order.products.length == 0}">
            <label for="productId" class="col-md-1 control-label">Produtos</label>
            <div class="col-md-2 input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" title="Buscar Rápida de Produto" ng-click="quickSearchProduct()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <input type="number" class="form-control" id="productId" name="productId" placeholder="ID" ng-model="product.id" required min="1" ui-event="{blur: 'fetchProduct(product.id)'}" ui-keypress="{'enter': 'fetchProduct(product.id)'}">
            </div>
        </div>
        <div class="col-md-2 input-group" ng-class="{'has-error': orderForm.productQuantity.$invalid && order.products.length == 0}">
            <input type="number" class="form-control" id="productQuantity" name="productQuantity" placeholder="Qt" ng-model="product.quantity" required min="1" ui-keypress="{'enter': 'addProduct(product.id, product.quantity)'}" ng-disabled="!product.id">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Adicionar produto à lista" ng-click="addProduct(product.id, product.quantity)" ng-disabled="orderForm.productQuantity.$invalid || orderForm.productId.$invalid">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="col-md-7">
            <p class="form-control-static">
                <product-detail ref="product"></product-detail>
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <ul class="list-group">
                <li class="list-group-item lwa-fade-left" ng-repeat="prod in order.products">
                    <div class="row">
                        <product-detail class="col-md-11" ref="prod"></product-detail>
                        <div class="pull-right col-md-1">
                            <button type="button" class="close" ng-click="removeProduct(prod.id)">&times;</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="total" class="col-md-1 control-label">Total</label>
        <div class="col-md-11 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="total" value="{{total | number:2}}" readonly>
        </div>
    </div>
    <div class="form-group lwa-fade-left" ng-class="{'has-error': orderForm.inputPayment.$invalid || total > payment}" ng-show="total != 0 && order.payment.status != 'OK'">
        <label for="total" class="col-md-1 col-md-offset-1 control-label">Dinheiro</label>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">R$</span>
            <input type="number" class="form-control" id="inputPayment" name="inputPayment" ng-model="order.payment.quantity" required min="0">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <ng-pluralize count="order.payment.mode"
                                  when="{'MONEY': 'À Vista',
                                         'CREDIT_CARD': 'Cartão',
                                         'CHECK': 'Cheque'}">
                    </ng-pluralize>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="link" ng-hide="order.payment.mode == 'MONEY'" ng-click="order.payment.mode = 'MONEY';">Dinheiro</a></li>
                    <li><a class="link" ng-hide="order.payment.mode == 'CREDIT_CARD'" ng-click="order.payment.mode = 'CREDIT_CARD';">Cartão</a></li>
                    <li><a class="link" ng-hide="order.payment.mode == 'CHECK'" ng-click="order.payment.mode = 'CHECK';">Cheque</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group lwa-fade-left" ng-show="order.paymentMode == 0 && exchange != 0 && order.status.payment == 0">
        <label for="total" class="col-md-1 col-md-offset-1 control-label">Troco</label>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="inputExchange" name="inputExchange" value="{{exchange | number:2}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1 btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Status <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Pagamento</li>
                <li><a class="link" ng-click="order.payment.status = 'OK';" ng-if="order.status.payment != 'OK'">Confirmado</a></li>
                <li><a class="link" ng-click="order.payment.status = 'PENDING';" ng-if="order.status.payment != 'PENDING'">Pendente</a></li>
                <li><a class="link" ng-click="order.payment.status = 'CANCELLED';" ng-if="order.status.payment != 'CANCELLED'">Cancelado</a></li>
            </ul>
        </div>
        <div class="col-md-8 form-control-static">
            <payment-detail ref="order.payment"></payment-detail>
        </div>
    </div>
    <div class="pull-right" ng-class="{'btn-group': !isOrderNew}">
        <button class="btn btn-primary" type="submit" data-toggle="tooltip" title="Confirmar mudanças" data-loading-text="Salvando..."
                ng-disabled="orderForm.customerId.$invalid ||
                             orderForm.inputPayment.$invalid ||
                             order.products.length == 0">
            <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
        </button>
        <a class="btn btn-default" data-toggle="tooltip" title="Remover Produto Atual" data-loading-text="Removendo..." ng-hide="isOrderNew" ng-click="removeOrder(order)">
            Remover
        </a>
    </div>
</form>