<form class="form-horizontal form-validation" role="form" name="orderForm" novalidate>
    <div class="form-group">
        <label for="orderId" class="col-md-1 control-label">ID</label>
        <div class="col-md-11 input-group">
            <input type="text" class="form-control" id="orderId" readonly value="{{order.id}}">
            <span class="input-group-btn">
                <a class="btn btn-default" ng-href="#/order/{{order.id -1}}" ng-disabled="isNewOrder">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                <a class="btn btn-default" ng-href="#/order/{{order.id +1}}">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': orderForm.clientId.$invalid}">
        <label for="clientId" class="col-md-1 control-label">Cliente</label>
        <div class="col-md-2 input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Buscar Rápida de Cliente" disabled>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <input type="number" class="form-control" id="clientId" name="clientId" placeholder="ID" autofocus ng-model="client.id" required min="1">
        </div>
        <div class="col-md-9">
            <p class="form-control-static">{{clientDetails}}</p>
        </div>
    </div>
    <div class="form-group">
        <div ng-class="{'has-error': orderForm.productId.$invalid}">
            <label for="productId" class="col-md-1 control-label">Produto</label>
            <div class="col-md-2 input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" title="Buscar Rápida de Produto" ng-click="quickSearchProduct()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <input type="number" class="form-control" id="productId" name="productId" placeholder="ID" ng-model="product.id" required min="1" ui-event="{blur: 'fetchProduct()'}">
            </div>
        </div>
        <div class="col-md-2 input-group" ng-class="{'has-error': orderForm.productQuantity.$invalid}">
            <input type="number" class="form-control" id="productQuantity" name="productQuantity" placeholder="Qt." ng-model="product.quantity" required min="1">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Adicionar produto à lista" ng-click="addProduct(product.id, product.quantity)" ng-disabled="orderForm.productQuantity.$invalid || orderForm.productId.$invalid">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="col-md-7">
            <p class="form-control-static">
                <lwa-product-detail ref="product"></lwa-product-detail>
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="prod in order.products">
                    <div class="row">
                        <lwa-product-detail class="col-md-11" ref="prod"></lwa-product-detail>
                        <div class="pull-right col-md-1">
                            <button type="button" class="close" ng-click="removeProduct(prod.id)">&times;</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="form-group">
        <label for="total" class="col-md-1 control-label">Total</label>
        <div class="col-md-11 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="total" value="{{total | number:2}}" readonly>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': orderForm.inputPayment.$invalid || total > payment}" ng-show="total != 0 && order.status.payment != 1">
        <label for="total" class="col-md-1 col-md-offset-1 control-label">Dinheiro</label>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="inputPayment" name="inputPayment" ng-model="payment" required min="0">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <ng-pluralize count="order.paymentMode" offset=2
                                  when="{'0': 'À Vista',
                                         '1': 'Cartão',
                                         '2': 'Cheque'}">
                    </ng-pluralize>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="link" ng-hide="order.paymentMode == 0" ng-click="order.paymentMode = 0;">À Vista</a></li>
                    <li><a class="link" ng-hide="order.paymentMode == 1" ng-click="order.paymentMode = 1;">Cartão</a></li>
                    <li><a class="link" ng-hide="order.paymentMode == 2" ng-click="order.paymentMode = 2;">Cheque</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="order.paymentMode == 0 && exchange != 0 && order.status.payment != 1">
        <label for="total" class="col-md-1 col-md-offset-1 control-label">Troco</label>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="inputExchange" name="inputExchange" value="{{exchange | number:2}}" readonly>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1 btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span>
                Status <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a class="link" ng-click="order.status.payment = 1;" ng-if="order.status.payment != 1">Pagamento Confirmado</a></li>
                <li><a class="link" ng-click="order.status.payment = 0;" ng-if="order.status.payment != 0">Pagamento Pendente</a></li>
                <li class="divider"></li>
                <li><a class="link" ng-click="order.status.delivery = 1;" ng-if="order.status.delivery != 1">Entrega Confirmada</a></li>
                <li><a class="link" ng-click="order.status.delivery = 0;" ng-if="order.status.delivery != 0">Entrega Pendente</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <span class="label label-primary" ng-if="order.status.payment != -1">
                <ng-pluralize count="order.status.payment" offset=2
                              when="{'0': 'Pagamento pendente',
                                     '1': 'Pagamento confirmado',
                                     '2': 'Pagamento cancelado'}">
                </ng-pluralize>
            </span>
            <span class="label label-default" ng-if="order.status.delivery != -1">
                <ng-pluralize count="order.status.delivery" offset=2
                              when="{'0': 'Entrega pendente',
                                     '1': 'Entrega confirmada',
                                     '2': 'Entrega cancelada'}">
                </ng-pluralize>
            </span>
        </div>
    </div>
    <div class="pull-right" ng-class="{'btn-group': !isNewOrder}">
        <button class="btn btn-primary" type="submit" data-toggle="tooltip" title="Confirmar mudanças" data-loading-text="Salvando...">
            <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
        </button>
        <a class="btn btn-default" data-toggle="tooltip" title="Remover Produto Atual" data-loading-text="Removendo..." ng-hide="isNewOrder">
            Remover
        </a>
    </div>
</form>