body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.up-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid grey;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 0 dotted;
  content: "";
}

/* NAVBAR STUFF */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
ul.nav li.dropdown:hover {
    background: #ebebeb;
}

.product-list.ng-enter{
     -webkit-animation: fadeInLeft 500ms;
     -moz-animation: fadeInLeft 500ms;
     -ms-animation: fadeInLeft 500ms;
     animation: fadeInLeft 500ms;
}
.product-list.ng-leave{
    -webkit-animation: fadeOut 300ms;
    -moz-animation: fadeOut 300ms;
    -ms-animation: fadeOut 300ms;
    animation: fadeOut 300ms;
}

.alert.ng-enter{
    -webkit-animation: pulse 500ms;
    -moz-animation: pulse 500ms;
    -ms-animation: pulse 500ms;
    animation: pulse 500ms;
}
.alert.ng-leave{
    -webkit-animation: fadeOut 500ms;
    -moz-animation: fadeOut 500ms;
    -o-animation: fadeOut 500ms;
    animation: fadeOut 500ms;
}
