body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.up-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid grey;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 0 dotted;
  content: "";
}

.alert {
  padding: 5px;
  margin-bottom: 1px;
  border: 0px solid transparent;
  border-radius: 4px;
}

.link {
  cursor: pointer;
}

#nprogress .bar {
  z-index: 10000;
  height: 2px;
}

#nprogress .spinner {
  z-index: 10000;
  top: 5px;
  right: 5px;
}

/* NAVBAR */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
ul.nav li.dropdown:hover {
    background: #ebebeb;
}

/* ANIMATION */
.product-list.ng-enter{
     -webkit-animation: fadeInLeft 500ms;
     -moz-animation: fadeInLeft 500ms;
     -ms-animation: fadeInLeft 500ms;
     animation: fadeInLeft 500ms;
}
.product-list.ng-leave{
    -webkit-animation: fadeOut 300ms;
    -moz-animation: fadeOut 300ms;
    -ms-animation: fadeOut 300ms;
    animation: fadeOut 300ms;
}

.alert.ng-enter{
    -webkit-animation: pulse 500ms;
    -moz-animation: pulse 500ms;
    -ms-animation: pulse 500ms;
    animation: pulse 500ms;
}
.alert.ng-leave{
    -webkit-animation: fadeOut 500ms;
    -moz-animation: fadeOut 500ms;
    -o-animation: fadeOut 500ms;
    animation: fadeOut 500ms;
}
