<div class="row">
    <div class="col-md-8">
        <form class="form-horizontal" role="form" name="productDetail" data-ng-submit="saveChanges(product)" novalidate>
            <div class="form-group">
                <label for="inputId" class="col-md-2 control-label">ID</label>
                <div class="col-md-10 input-group">
                    <input type="number" class="form-control" id="inputId" name="inputId" readonly data-ng-model="product.id">
                    <span class="input-group-btn">
                        <a class="btn btn-default" data-ng-href="#/product/{{product.id -1}}" data-ng-disabled="isNewProduct">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </a>
                        <a class="btn btn-default" data-ng-href="#/product/{{product.id +1}}">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': productDetail.inputName.$invalid}">
                <label for="inputName" class="col-md-2 control-label">Nome</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Digite o nome do Produto"
                           autofocus data-ng-model="product.name" required data-ng-minlength="2">
                </div>
            </div>
            <div class="form-group">
                <div ng-class="{'has-error': productDetail.inputPrice.$invalid}">
                    <label for="inputPrice" class="col-md-2 control-label">Preço</label>
                    <div class="col-md-7 input-group">
                        <span class="input-group-addon">R$</span>
                        <input type="text" class="form-control" id="inputPrice" name="inputPrice"
                               data-ng-model="product.price" required data-ng-pattern="pricePattern">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" id="btnPriceInfoId"
                                    data-ng-click="priceInfo()" data-toggle="tooltip" title="Detalhar Cálculo de Preço" data-ng-disabled="product.price == 0">
                                <span class="glyphicon glyphicon-new-window"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-class="{'has-error': productDetail.inputQuantity.$invalid}">
                    <label class="col-md-1 control-label" for="inputQuantity">Qt.</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control" id="inputQuantity" name="inputQuantity"
                               data-ng-model="product.quantity" required min="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div ng-class="{'has-error': productDetail.inputNcm.$invalid}">
                    <label for="inputNcm" class="col-md-2 control-label">NCM</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="inputNcm" name="inputNcm" data-ng-model="product.ncm">
                    </div>
                </div>
                <div ng-class="{'has-error': productDetail.inputGroup.$invalid}">
                    <label for="inputGroup" class="col-md-1 control-label">Grupo</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="inputGroup" name="inputGroup"
                               data-ng-model="product.group" data-typeahead="productGroup for productGroup in productGroups | limitTo:5">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': productDetail.inputDescription.$invalid}">
                <label for="inputDescription" class="col-md-2 control-label">Descrição</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="inputDescription" name="inputDescription"
                              placeholder="Digite uma Descrição" rows="2" data-ng-model="product.description" required></textarea>
                </div>
            </div>
            <div class="pull-right" data-ng-class="{'btn-group': !isNewProduct}">
                <button class="btn btn-primary" type="submit" data-toggle="tooltip" title="Salvar Alterações do Produto"
                        data-loading-text="Salvando..." data-ng-disabled="productDetail.inputName.$invalid || productDetail.inputDescription.$invalid" data-ng-hide="readMode">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                </button>
                <a class="btn btn-default" data-toggle="tooltip" title="Remover Produto Atual" data-loading-text="Removendo..." data-ng-click="removeProduct(product)" data-ng-hide="isNewProduct">
                    Remover
                </a>
            </div>

        </form>
    </div>
</div>