<div class="row">
  <div class="col-md-12">
      <div class="col-md-7">
        <form class="form-horizontal" role="form" name="productForm"
            ng-submit="saveChanges()">
          <div class="form-group">
            <label for="inputId" class="col-lg-2 control-label">ID</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="inputId" readonly
                  ng-model="product.id">
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Nome</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="inputName"  placeholder="Digite o nome do Produto" autofocus 
                  ng-model="product.name" required ng-minlength="2">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPrice" class="col-lg-2 control-label">Preço</label>
            <div class="col-lg-10 input-group">
              <span class="input-group-addon">R$</span>
              <input type="text" class="form-control" name="inputPrice" 
                  ng-model="product.price" required min="0">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-lg-2 control-label">Descrição</label>
            <div class="col-lg-10">  
              <input type="text" class="form-control" name="inputDescription" 
                  ng-model="product.description" required>
            </div>
          </div>
          <div class="btn-group pull-right">
            <button class="btn btn-primary" type="submit" value="Salvar" 
                  ng-disabled="!productForm.inputName.$valid || !productForm.inputDescription.$valid">
              Salvar
            </button>
            <a class="btn btn-default" ng-click="removeProduct()" style="display: {{btnEsp()}};">Remover</a>
            <a class="btn btn-default" href="/product/0" style="display: {{btnEsp()}};">Novo</a>
            <a class="btn btn-default" href="/product">Listar</a> 
          </div>
        </form>
      </div>

  </div>
</div>
</br> 
<div class="alerts">
  <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
</div>