<div class="row">
    <div class="col-md-2" data-ng-init="categoryPriceChart = true">
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item" data-ng-click="categoryPriceChart = !categoryPriceChart" data-ng-class="{'active': categoryPriceChart}">Lucro</a>
            <a href="javascript:void(0)" class="list-group-item" data-ng-click="nameQuantityChart = !nameQuantityChart" data-ng-class="{'active': nameQuantityChart}">Estoque</a>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row" data-ng-show="categoryPriceChart">
            <div id='dc-category-price'>
                <h4>Potencial de Lucro</h4>
            </div>
        </div>
        <div class="row" data-ng-show="nameQuantityChart">
            <div id='dc-name-quantity'>
                <h4>Estoque</h4>
            </div>
            <table id="dc-table" class="table table-striped table-condensed">
                <thead>
                    <tr class="header">
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preco</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>