<div class="row">
  <div class="">
    <input type="search" ng-model="searchText" placeholder="Procurar" class="form-control" autofocus>
    <table class="table table-striped table-bordered table-condensed table-hover">
      <tr ng-init="reverse = false">
        <td><a href="javascript:void(0)" ng-click="predicate = 'id'; reverse = !reverse">ID</a></td>
        <td><a href="javascript:void(0)" ng-click="predicate = 'name'; reverse = !reverse">Nome</a></td>
        <td><a href="javascript:void(0)" ng-click="predicate = 'quantity'; reverse = !reverse">Qt.</a></td>
        <td><a href="javascript:void(0)" ng-click="predicate = 'price'; reverse = !reverse">Preço</a></td>
        <td><a href="javascript:void(0)" ng-click="predicate = 'description'; reverse = !reverse">Descrição</b></a></td>
        <td><a href="javascript:void(0)" ng-click="predicate = 'group'; reverse = !reverse">Grupo</a></td>
      </tr>
      <tr ng-repeat="prod in products | filter:searchText | orderBy:predicate:reverse" 
          ng-click="editProduct(prod.id)" 
          style="cursor: pointer;">
        <td>{{prod.id}}</td>
        <td>{{prod.name}}</td>
        <td>{{prod.quantity}}</td>
        <td>{{prod.price}}</td>
        <td>{{prod.description}}</td>
        <td>{{prod.group}}</td>
      </tr>
      </table>

  </div>

  <data-lwa-progress ng-hide="products.length > 0"></data-lwa-progress>
  <data-alerts></data-alerts>
</div>