<!doctype html>
<html ng-app="lwa">
<head>
  <title>LOBWebApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

</head>
<body>

  <div class="container-fluid" ng-view></div>

</body>
</html>
