<div>
    <img id="imageUploadIncludeImage" 
		title="Inserir nova imagem" ng-class="{'link': !loading}" class="img-thumbnail"
		ng-src="{{localImageUrl}}">
    
    <input id="imageUploadInput" type="file" name="files[]" style="visibility: hidden;">

    <div class="btn-group">
    	<a class="btn btn-default lwa-fade-left disabled" ng-hide="!loading" title="Upload status">
    	    <span class="glyphicon glyphicon-upload"></span>
    	    <strong>{{percentage | number:1}}% </strong>
    	</a>
    </div>
</div>