<div>
  <form role="form" name="loginForm" data-ng-submit="login()" novalidate>
    <div class="form-group" data-ng-class="{'has-error': loginForm.inputUsername.$invalid}">
      <label for="inputUsername" class="control-label">Usuário</label>
      <input type="text" class="form-control" id="inputUsername" name="inputUsername" 
        autofocus data-ng-model="user.username" required data-ng-minlength="4">
    </div>
    <div class="form-group" data-ng-class="{'has-error': loginForm.inputPassword.$invalid}">
      <label for="inputPassword" class="control-label">Senha</label>
      <input type="password" class="form-control" id="inputPassword" name="inputPassword"
        data-ng-model="user.password" required data-ng-minlength="4">
    </div>
    <button class="btn btn-default" type="submit" data-toggle="tooltip" title="Fazer Login" 
        data-loading-text="Entrando..."
        data-ng-disabled="loginForm.inputUsername.$invalid || loginForm.inputPassword.$invalid">
      <span class="glyphicon glyphicon-log-in"></span> Entrar
    </button>
  </form>
</div>