<form class="form-horizontal" role="form" name="orderDetail" novalidate>

    <div class="form-group">
        <label for="orderId" class="col-md-1 control-label">ID</label>
        <div class="col-md-11 input-group">
            <input type="text" class="form-control" id="orderId" readonly data-ng-model="order.id">
            <span class="input-group-btn">
                <a class="btn btn-default" data-ng-href="#/order/{{order.id -1}}" data-ng-disabled="isNewOrder">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                <a class="btn btn-default" data-ng-href="#/order/{{order.id +1}}">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </span>
        </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': orderDetail.clientId.$invalid}">
        <label for="clientId" class="col-md-1 control-label">Cliente</label>
        <div class="col-md-2 input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Buscar Rápida de Cliente" disabled>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <input type="text" class="form-control" id="clientId" name="clientId" placeholder="ID" autofocus 
                   data-ng-model="clientId" required>
        </div>
        <div class="col-md-9">
            <p class="form-control-static">Detalhes do Cliente</p>
        </div>
    </div>

    <div class="form-group">
        <div data-ng-class="{'has-error': orderDetail.productId.$invalid}">
            <label for="productId" class="col-md-1 control-label">Produto</label>
            <div class="col-md-2 input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" title="Buscar Rápida de Produto" data-ng-click="findProduct()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <input type="text" class="form-control" id="productId" name="productId" placeholder="ID"
                        data-ng-model="productId" required>
            </div>
        </div>
        <div data-ng-class="{'has-error': orderDetail.productQuantity.$invalid}" class="col-md-2 input-group">
            <input type="number" class="form-control" id="productQuantity" name="productQuantity" placeholder="Qt."
                    data-ng-model="productQuantity" required min="0">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Adicionar produto à lista" data-ng-click="addProduct()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="col-md-7">
            <p class="form-control-static">Detalhes do Produto</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="product in order.products">
                    {{product.quantity}} Unid, R${{product.quantity * product.price}} - {{product.name}} {{product.description}} 
                    <div class="pull-right">
                        <button type="button" class="close" data-ng-click="removeProduct($index)">&times;</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="total" class="col-md-1 control-label">Total</label>
        <div class="col-md-11 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="total" data-ng-model="total" readonly>
        </div>
    </div>

    <!--
    <div class="form-group">
        <label for="total" class="col-md-1 col-md-offset-1 control-label">Dinheiro</label>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="inputPayment" name="inputPayment" data-ng-model="payment">    
        </div>
        <label for="total" class="col-md-1 col-md-offset-1 control-label">Troco</label>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="inputExchange" name="inputExchange" data-ng-model="exchange">    
        </div>   
    </div>
    -->

    <div class="form-group">
        <div class="col-md-1 btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Status <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="link">Pago</a></li>
            <li><a class="link">Pagamento Pendente</a></li>
            <li class="divider"></li>
            <li><a class="link">Entregue</a></li>
            <li><a class="link">Entrega Pendente</a></li>
          </ul>
        </div>
        <div class="col-md-8">
            <div data-ng-repeat="status in statusList">
                <span class="label label-default">{{status}}</span>
            </div>
        </div>
    </div>

    <div class="pull-right" data-ng-class="{'btn-group': !isNewOrder}">
        <button class="btn btn-primary" type="submit" data-toggle="tooltip" title="Confirmar mudanças" data-loading-text="Salvando...">
            <span class="glyphicon glyphicon-floppy-disk"></span> Confirmar
        </button>
        <a class="btn btn-default" data-toggle="tooltip" title="Remover Produto Atual" data-loading-text="Removendo..."data-ng-hide="isNewOrder">
            Remover
        </a>
    </div>
        
</form>