<form class="form-horizontal" role="form" name="customerForm" novalidate ng-submit="saveOrUpdateEntity(entity)">

	<entity-id></entity-id>
	
	<form-item input-label="Nome" input-id="inputName" form="customerForm">
		<input type="text" class="form-control" id="inputName" name="inputName" autofocus ng-model="entity.name" required ng-minlength="5" ng-maxlength="100">
	</form-item>
	
	<save-changes disabled="readMode"
	save-disabled="customerForm.$invalid || customerForm.$pristine"
	remove-disabled="isEntityNew"
	discard-disabled="!isPreviousChanges"
	on-remove="removeEntity(entity)"
	on-discard="discardChanges()">
	</save-changes>

</form>