<div aria-hidden="true" aria-labelledby="findProductModalLabel" role="dialog" tabindex="-1" class="modal fade" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
          <h4 class="modal-title">Buscar produto</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label">ID/Nome</label>    
                  </div>
                  <div class="col-md-8">
                    <!-- ui-keypress="{13:'findProduct(searchText)'}" -->
                  <form role="form" ng-submit="findProduct(searchText)">
                    <div class="input-group">
                      <input type="text" class="form-control" id="searchTextId" ng-model="searchText" required>
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="buttonSearchId">
                          Buscar
                        </button>
                      </span>
                    </div>
                  </form>

                  </div>
                </div>
            </div> 
         </div>
        <!-- <div class="modal-footer">
        </div> -->
      </div>
    </div> 
</div>